
.body{
  width: 100%;
  height:1000px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

}
.bottom{
  width: 100%;
  height: 500px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
}
.img img{
  opacity: 0.8;
  height: 1000px;
}
a:hover{
  color: white;
  background-color: maroon;
  border-radius: 30px;
  padding: 10px 20px;
  width: 120px;
  height: 40px;
  margin-right: right;
}
button{
  color: white;
  background-color: maroon;
  border-radius: 30px;
  padding: 10px 20px;
  width: 120px;
  height: 40px;
  margin-right: right;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: maroon;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 20px;
  border-radius: 30px;
  width: 120px;
}

.header img {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: maroon;
  color: white;
}

.header a.active {
  background-color: maroon;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}
/*...................About us................*/
.body{
  margin: 0;
  padding: 0;
  font-weight: Calibri;
  background:url(Background.png)no-repeat;
  background-position: center;
}
.main{
  width: 50%;
  height: 50%;
  background: rgba(0,0,0,6);
  color: #ddd;
  text-align: center;
  padding: 50px;
  position: absolute;
  top: 55%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  left: 25%;
  text-align: justify;
  box-shadow: 10px 10px 5px maroon;
  opacity: 2px;
}
/*..........footer........*/
.footer{
  background: #ffffff;
  width: 100%;
  box-sizing: border-box;
  text-align: right;
  font-size: 16px;
  font-weight: 500;
  padding: 55px 50px;
}
.footer .footer-left,
.footer .footer-center{
  display: inline-block;
  vertical-align: top;
  width: 30%;
}
.footer h3{
  color: black;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin: 0;
}
.footer .footer-center i{
  width: 30px;
  height: 30px;
  text-align:  center;
  border-radius: 25%;
  line-height: 25px;
  margin: 10px 15px;
  vertical-align: right;
  background: #33383b;
  font-size: 14px;
}
.footer .footer-center i fa-envelope{
  font-size: 14px;
  line-height: 10px;
}
.footer .footer-center p{
  display: inline-block;
  color: #fff;
  font-weight: normal;
  vertical-align: middle;
  margin: 0;
  font-family: 'Raleway',sans-serif;
}
.footer .footer-center p a{
  color: maroon;
  text-decoration: none;
}
.footer .footer-center p span{
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-links{
  color: #fff;
  margin: 20px 12px;
  padding: 0;
}
./*footer .footer-right{
  width: 20%;
}*/

.footer .footer-social{
  margin-top: 25px;
}
.footer .footer-social a{
  display: inline-block;
  width: 30px;
  height: 30px;
  background: maroon;
  border-radius: 2px;
  font-size: 20px;
  line-height: 36px;
  color: gray;
  text-align: top;
  margin-right: 25px;
  margin-bottom: 5px;
}

.text-block{
  font-size: 30px;
  color: white;
}
